
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c197d2;
    color: #000000; 
}

.banner {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    position: fixed; 
    left: 0; 
    width: 120px;
    cursor: pointer;
    z-index: 1001; 
}


.navbar {
    position: fixed;
    top: 0;
    width: center; 
    z-index: 1000;
    transition: top 0.3s;
}



.navbar ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.3s;
    color:#000000; 
}

.navbar ul li a:hover {
    color: #613659; 
}


.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000; 
}

.content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #000000; 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #b0157f; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


section {
    margin-top: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ca10a8;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-download:hover {
    background-color: #686868; 
}

.btn-download::before {
    content: '\f0ab'; 
    font-family: FontAwesome; 
    margin-right: 5px;
}


.btn-download:active {
    background-color: #005d53; 
}

.contact-list {
    list-style: none; 
    padding: 0; 
}

.contact-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.contact-list li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    transition: color 0.3s;
}

.contact-list li a:hover {
    color: #686868;
}